.review-panel {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.review-panel h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    color: #C0CAF5;
    border-bottom: 1px solid #414868;
    padding-bottom: 0.5rem;
}

.review-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.placeholder {
    color: #565F89;
    /* font-style: regular; */
    text-align: center;
    margin-top: 2rem;
}

.review-card {
    background: #24283B;
    /* border: 1px solid #414868; */
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.review-text {
    margin: 0 0 1rem 0;
    line-height: 1.6;
    /* Makes longer reviews much easier to read */
    font-size: 0.95rem;
    color: #C0CAF5;
    font-style: regular;
}

.highlight-opinion {
    font-weight: 700;
    border-radius: 0.25rem;
}

.highlight-aspect {
    font-weight: 700;
    color: #BB9AF7;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
    padding-top: 0.5rem;
    border-top: 1px solid #414868;
}

.reviewer-name {
    color: #565F89;
    font-size: 0.8rem;
    font-weight: 700;
}

.review-date {
    color: #565F89;
    font-size: 0.8rem;
    font-weight: 700;
}